<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:with="title='管理中心',active='home'">
<header th:replace="back/header::headerFragment(${title},${active})"></header>

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--&lt;!&ndash;    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--    <link th:href="@{/editormd/css/style.css}" rel="stylesheet">-->
<!--</head>-->
<body>
<div id="wrapper">
    <div th:replace="back/header::header-body"></div>

    <div class="content-page">
        <div class="content">
            <div class="container">
                <h3 class="title">仪表盘</h3>
                    <div>
                        <div class="text_all">
                            <div  class="textDiv">
                                <div class="image_div">
                                    <img th:src="@{/editormd/images/img.png}" style="width: 70px;border-radius: 50px">
                                </div>
                                <div class="text_div">
                                    <h4 class="text">发表了</h4>
                                    <h4 class="text" style="font-size: 60px">[(${articleCount})]</h4>
                                    <h4 class="text">篇文章</h4>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list_content">
                                   <h4 class="list_text">最新文章</h4>
                                    <div class="list_content_article">
                                        <ul class="list_content_article_ul">
                                            <li class="list_content_article_row" th:each="article:${articleList}"> <a  th:href="${commons.permalink(article.id)}" th:text="${#strings.length(article.title) > 10 ? #strings.substring(article.title, 0, 10) + '.....' : article.title}"></a><!--设置文章标题的长度上线--> <div class="number">[(${article.hits})]</div></li>
                                            <!--                            <li class="list_content_article_row"><a>springboot2</a> <div class="number">1</div></li>-->
                                        </ul>
                                    </div>



                                </div>

                            </div>
                        </div>
                        <div class="text_all">
                            <div  class="textDiv" style="background-color: #1C005A">
                                <div class="image_div">
                                    <img th:src="@{/editormd/images/img.png}" style="width: 70px;border-radius: 50px">
                                </div>
                                <div class="text_div">
                                    <h4 class="text">收到了</h4>
                                    <h4 class="text" style="font-size: 60px">[(${commentCount})]</h4>
                                    <h4 class="text">条留言</h4>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list_content">
                                    <h4 class="list_text">最新评论</h4>
                                    <div class="list_content_article" th:if="${comments.size()==0}">
                                        <div class="alert alert-warning">
                                            还没有收到留言
                                        </div>
                                    </div>
                                    
                                    <div class="list_content_article">
                                        <ul class="list_content_article_ul" th:unless="${comments}==null and ${comments.size()}==0">
                                            <li class="list_content_article_row1" th:each="comment : ${comments}">
                                                <div>
                                                    <div class="comment" th:text="${comment.author+'于'+#dates.format(comment.created,'yyy-MM-dd')}">
                                                        [()]：
                                                    </div>
<!--                                                    <div class="comment" th:if="${#strings.length(comment.content)}>10" th:text="${#strings.substring(comment.content,0,10)}+'...'"></div>-->
<!--                                                    <div class="comment" th:if="${#strings.length(comment.content)}<=10" th:text="${comment.content}"></div>-->
<!--                                                    <a target="_blank" th:href="${commons.permalink(comment.articleId)}">查看原文</a>-->
                                                    <a target="_blank" th:href="${commons.site_url('/article/')}+${comment.articleId}+'#comments'"
                                                        th:utext="${commons.article(comment.content)}"></a>
                                                    
                                                </div>
                                            </li>
                <!--                            <li class="list_content_article_row1"><div><div class="comment">tom于2018-12-17：</div> <div class="comment">持续关注中...</div></div></li>-->
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="back/footer :: footer-content"></div>
<div th:replace="back/footer :: footer"></div>
<link th:href="@{/editormd/css/style.css}" rel="stylesheet">
</body>
</html>